.App {
   text-align: center;
   background-image: url("./assets/rym1.jpg");
   background-repeat: no-repeat;
   /* background-position: center; */
   background-size: cover;
   background-position: center;
   
}


